
body {
    background-color: rgb(240, 240, 240);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
  }
  
  h1 {
    color: rgb(46, 46, 46);
    text-align: center;
  }
  center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }
  