.css-selector {
  font-family: 'Montserrat Alternates', sans-serif;
  }
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
  }
  
  h1,h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(46, 46, 46);
    text-align: center;
  }
  center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }
  a {
      align-self: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  img {
      padding: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  button{
    background-color: #5AC05A; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 60px -60px; 
    position:relative;
    top:50%; 
    left:50%;
    
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }